div#custom-branding {
  padding: 0;
  width: 98%;
}
#mih-branding {
  padding-top: 3px;
  height: 3em;
  background-color: #767676;
  float: left;
  position: relative;
  background: transparent;
}
#logo {
  float: right;
  height: 3em;
  position: relative;
  right: -5px;
  padding-top: 3px;
}
/* Brand elements */
div#custom-branding {
	padding: 0;
	width: 98%;
}
#custom-branding div {
  float: left;
  width: 20%;
}

#custom-branding h1 {
  text-align: center;
  margin:0;
  line-height:1em;
  float:left;
  padding-top:0.9em;
  font-size:130%;
  width:59.9%
}

#logo {
  padding-top: 5px;
}