.pagination_hover {
  color: #ff8c25;
  border-color: #333333;
}
.contact_border {
  border: 1px solid #777777;
  -webkit-box-shadow: 3px 3px 3px rgba(255, 140, 37, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(255, 140, 37, 0.5);
}
body, .container_12 {
  background: #767676;
  padding: 0;
}
.container_12 { margin: 0 auto; }
.block {
  padding-top: 0px;
  margin-bottom: 3px;
  margin-top: 2px;
}
div#custom-branding {
  padding: 0;
  width: 98%;
}
#mih-branding {
  height: 5em;
  background-color: #767676;
  float: left;
}
#logo {
  float: right;
  height: 5em;
  padding-top: 5px;
}
div#site_info div.box { background: #272727; }
div#site_info div.box p { color: white; }
div#site_info div.box a { color: white; }
h2#page-heading {
  margin-left: -10px;
  margin-bottom: 1px;
  color: white;
  border-bottom: none;
  font-size: 120%;
}
div.block, div.box { background: black; }
div.box h2.heading { background: black; }
div.box h2.heading a { color: #ff8c25; }
table {
  border: none;
  color: white;
}
thead th { background: black; }
tfoot th { background: black; }
tfoot td { background: black; }
tfoot th { border-top: 2px solid white; }
tfoot td { border-top: 2px solid white; }
tbody th {
  border-bottom: 2px solid #767676;
  border-top: 2px solid #767676;
}
tbody td {
  border-bottom: 2px solid #767676;
  border-top: 2px solid #767676;
}
tbody tr.odd th { background: black; }
tbody tr.odd td { background: black; }
tbody tr.even th { background: rgba(0, 84, 116, 0.7); }
tbody tr.even td { background: rgba(0, 84, 116, 0.7); }
ul.nav.main {
  background: url(/themes/mih/menu_grad.jpg) repeat;
  background: -webkit-gradient(linear, 0% 41%, 0% 86%, from(#ec8851), to(#b74e00));
  background: -moz-gradient(linear, 0% 41%, 0% 86%, from(#ec8851), to(#b74e00));
}
ul.nav.main li a {
  background: url(/themes/mih/menu_grad.jpg) repeat;
  background: -webkit-gradient(linear, 0% 41%, 0% 86%, from(#ec8851), to(#b74e00));
  background: -moz-gradient(linear, 0% 41%, 0% 86%, from(#ec8851), to(#b74e00));
}
ul.nav.main li a:hover { color: #212121; }
ul.nav.main li ul li a { background: #212121; }
ul.nav.main li ul li a:hover { background: #343434; }
div.box, legend {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
div.box {
  -webkit-box-shadow: 4px 4px 6px rgba(43, 34, 27, 0.4);
  -moz-box-shadow: 4px 4px 6px rgba(43, 34, 27, 0.4);
}
div.listItem:hover {
  -webkit-box-shadow: 4px 4px 6px rgba(43, 34, 27, 0.4);
  -moz-box-shadow: 4px 4px 6px rgba(43, 34, 27, 0.4);
}
div.box h2 {
  padding-top: 10px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}
div.box h3 {
  color: white;
  font-weight: normal;
}
div.box.table h3 {
  color: white;
  font-weight: normal;
}
div.box h3 { padding: 5px 0 10px; }
div.box.table h3 { padding: 5px 10px 10px; }
div.box.table { padding-bottom: 2px; }
.accordion .targ p a {
  color: white;
  font-weight: normal;
}
.accordion .targ p a:visited {
  color: white;
  font-weight: normal;
}
.accordion h3.trig {
  background: black;
  color: white;
  border: none;
  font-weight: bold;
  -webkit-box-shadow: none;
}
div.listItem, fieldset {
  background: #323232;
  border: 1px solid #464646;
  color: #cccccc;
}
div.listItem a { color: #eeeeee; }
form.search {
  margin-top: 3px;
  background: #ec8851;
  color: #eeeeee;
}
form.search label { font-weight: normal; }
legend {
  background-color: rgba(255, 140, 37, 0.9);
  color: white;
}
div.hbar { background-color: #ff8c25; }
.submit_button a { color: #6e6e6e; }
p.prompt { color: #aaaaaa; }
.tabricator .trig {
  background-color: black;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
}
.tabricator .targ { border-top: 1px solid #666666; }
.tabricator .tabItem:hover {
  color: white;
  background: black;
}
.tabricator .open {
  color: white;
  background: black;
}
div.contactCard {
  background: #222222;
  color: #cccccc;
  border: 1px solid #777777;
  -webkit-box-shadow: 3px 3px 3px rgba(255, 140, 37, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(255, 140, 37, 0.5);
}
div.contactCard:hover { cursor: inherit; }
div.contactCard a { color: white; }
div.contactCard a:hover { color: #ff8c25; }
div#about .contactCard {
  background: black;
  border: none;
  color: #cccccc;
  height: auto;
}
div#about .contactCard a { color: white; }
div.address + div.address { border-top: 1px solid #555555; }
.pagination a {
  color: #cccccc;
  border-color: #333333;
  font-weight: normal;
}
.pagination span.prev_page {
  color: #cccccc;
  border-color: #333333;
  font-weight: normal;
}
.pagination span.next_page {
  color: #cccccc;
  border-color: #333333;
  font-weight: normal;
}
.pagination span.current {
  color: #ff8c25;
  border-color: #333333;
}
.pagination a:hover {
  color: #ff8c25;
  border-color: #333333;
}
.pagination span.prev_page:hover {
  color: #ff8c25;
  border-color: #333333;
}
.pagination span.next_page:hover {
  color: #ff8c25;
  border-color: #333333;
}
div.autocomplete { opacity: 1; }
div.autocomplete ul { background: #333333; }
div.box.flash_alert { background-color: #ffbbbb; }
div.box.flash_notice { background-color: #bbffbb; }
.history p { color: white; }
