.pagination_hover {
  color: #ff8c25;
  border-color: #333333;
}
.contact_border {
  border: 1px solid #777777;
  -webkit-box-shadow: 3px 3px 3px rgba(255, 140, 37, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(255, 140, 37, 0.5);
}
body, .container_12 {
  background: #767676;
  padding: 0;
}
.container_12 { margin: 0 auto; }
.block {
  padding-top: 0px;
  margin-bottom: 3px;
  margin-top: 2px;
}
div#custom-branding {
  padding: 0;
  width: 98%;
}
#custom-branding div {
  float: left;
  width: 20%;
}
#custom-branding h1 {
  text-align: center;
  margin: 0;
  line-height: 1em;
  float: left;
  padding-top: 0.9em;
  font-size: 130%;
  width: 59.9%;
}
#logo { padding-top: 5px; }
#mih-branding {
  padding-top: 3px;
  height: 3em;
  background-color: #767676;
  float: left;
  position: relative;
  margin-bottom: 5px;
}
#logo {
  float: right;
  height: 3em;
  position: relative;
  right: -5px;
  padding-top: 3px;
}
div#site_info div.box { background: #272727; }
div#site_info div.box p { color: white; }
div#site_info div.box a { color: white; }
h2#page-heading {
  margin-left: -10px;
  margin-bottom: 1px;
  color: white;
  border-bottom: none;
  font-size: 120%;
}
div.block, div.box { background: black; }
div.box h2.heading { background: black; }
div.box h2.heading a { color: #ff8c25; }
table {
  border: none;
  color: white;
}
thead th { background: black; }
tfoot th { background: black; }
tfoot td { background: black; }
tfoot th { border-top: 2px solid white; }
tfoot td { border-top: 2px solid white; }
tbody th {
  border-bottom: 2px solid #767676;
  border-top: 2px solid #767676;
}
tbody td {
  border-bottom: 2px solid #767676;
  border-top: 2px solid #767676;
}
tbody tr.odd th { background: black; }
tbody tr.odd td { background: black; }
tbody tr.even th { background: #005474; }
tbody tr.even td { background: #005474; }
ul.nav.main {
  background: url(/themes/mih/menu_grad.jpg) repeat;
  background: -webkit-gradient(linear, 0% 41%, 0% 86%, from(#ec8851), to(#b74e00));
  background: -moz-gradient(linear, 0% 41%, 0% 86%, from(#ec8851), to(#b74e00));
}
ul.nav.main li a {
  background: url(/themes/mih/menu_grad.jpg) repeat;
  background: -webkit-gradient(linear, 0% 41%, 0% 86%, from(#ec8851), to(#b74e00));
  background: -moz-gradient(linear, 0% 41%, 0% 86%, from(#ec8851), to(#b74e00));
}
ul.nav.main li:hover a:active {
  background: url(/themes/mih/menu_grad.jpg) repeat;
  background: -webkit-gradient(linear, 0% 41%, 0% 86%, from(#ec8851), to(#b74e00));
  background: -moz-gradient(linear, 0% 41%, 0% 86%, from(#ec8851), to(#b74e00));
}
ul.nav.main li.secondary a {
  background: url(/themes/mih/menu_grad.jpg) repeat;
  background: -webkit-gradient(linear, 0% 41%, 0% 86%, from(#ec8851), to(#b74e00));
  background: -moz-gradient(linear, 0% 41%, 0% 86%, from(#ec8851), to(#b74e00));
}
ul.nav.main li.secondary { background: transparent !important; }
ul.nav.main li.secondary a { background: transparent !important; }
ul.nav.main li.secondary:hover { background: transparent !important; }
ul.nav.main li a:hover { color: #212121; }
ul.nav.main li ul li a { background: #212121 !important; }
ul.nav.main li.secondary ul li { background: #212121 !important; }
ul.nav.main li ul li a:hover { background: #343434 !important; }
div.box, legend {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
div.box {
  -webkit-box-shadow: 4px 4px 6px #2b221b;
  -moz-box-shadow: 4px 4px 6px #2b221b;
}
div.listItem:hover {
  -webkit-box-shadow: 4px 4px 6px #2b221b;
  -moz-box-shadow: 4px 4px 6px #2b221b;
}
div.box h2 {
  padding-top: 10px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}
div.box h3 {
  color: white;
  font-weight: normal;
}
div.box.table h3 {
  color: white;
  font-weight: normal;
}
div.box h3 { padding: 5px 0 10px; }
div.box.table h3 { padding: 5px 10px 10px; }
div.box.table { padding-bottom: 2px; }
.accordion .targ p a {
  color: white;
  font-weight: normal;
}
.accordion .targ p a:visited {
  color: white;
  font-weight: normal;
}
.accordion h3.trig {
  background: black;
  color: white;
  border: none;
  font-weight: bold;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.ui-accordion-content {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  background-color: inherit !important;
  border: 0 !important;
}
.accordion h3.trig {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  background-color: inherit !important;
  border: 0 !important;
}
div.listItem, fieldset {
  background: #323232;
  border: 1px solid #777777;
  color: #cccccc;
}
div.listItem a { color: #eeeeee; }
form.search {
  margin-top: 3px;
  background: #ec8851;
  color: #eeeeee;
}
form.search label { font-weight: normal; }
legend {
  background-color: #ff8c25;
  color: white;
}
div.hbar { background-color: #ff8c25; }
.submit_button a { color: #6e6e6e; }
p.prompt { color: #aaaaaa; }
.tabricator .trig {
  background-color: black;
  border-top: 1px solid #777777;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
}
.tabricator .targ { border-top: 1px solid #777777; }
.tabricator .tabItem:hover {
  color: white;
  background: black;
}
.tabricator .open {
  color: white;
  background: black;
}
li.ui-tabs-selected, li.ui-state-default, .ui-tabs-panel {
  background-color: #323232 !important;
  border-color: #777777 !important;
}
.tab .ui-widget-content {
  background-color: #323232 !important;
  border-color: #777777 !important;
}
.ui-tabs-nav {
  background-color: black;
  border-color: #777777 !important;
}
.ui-tabs-selected a span { color: #ff8c25 !important; }
.ui-tabs-panel.ui-widget-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
div.contactCard {
  background: #222222;
  color: #cccccc;
  border: 1px solid #777777;
  -webkit-box-shadow: 3px 3px 3px rgba(255, 140, 37, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(255, 140, 37, 0.5);
}
div.contactCard:hover { cursor: inherit; }
div.contactCard a { color: white; }
div.contactCard a:hover { color: #ff8c25; }
div#about .contactCard {
  background: black;
  border: none;
  color: #cccccc;
  height: auto;
  margin-left: 2px;
  margin-bottom: 5px;
}
div#about .contactCard a { color: white; }
div.contactCard h3 {
  margin: 0;
  padding: 0;
}
div.contactCard h4 {
  margin: 0;
  padding: 0;
}
div.address + div.address { border-top: 1px solid #555555; }
.pagination a {
  color: #cccccc;
  border-color: #333333;
  font-weight: normal;
}
.pagination span.prev_page {
  color: #cccccc;
  border-color: #333333;
  font-weight: normal;
}
.pagination span.next_page {
  color: #cccccc;
  border-color: #333333;
  font-weight: normal;
}
.pagination span.current {
  color: #ff8c25;
  border-color: #333333;
}
.pagination a:hover {
  color: #ff8c25;
  border-color: #333333;
}
.pagination span.prev_page:hover {
  color: #ff8c25;
  border-color: #333333;
}
.pagination span.next_page:hover {
  color: #ff8c25;
  border-color: #333333;
}
div.autocomplete { opacity: 1; }
div.autocomplete ul { background: #333333; }
div.flash_notice, div.flash_error, div.flash_alert {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
div.box.flash_alert { background-color: #ffbbbb; }
div.box.flash_notice { background-color: #bbffbb; }
.history p { color: white; }
.login_options { color: #ff8c25; }
.login_options a { color: white; }
label { color: white; }
#highcharts { background-color: black; }
#highcharts-text {
  color: white;
  font-size: 90%;
  font-weight: normal;
}
#highcharts-area {
  color: #006583;
  color: rgba(0, 101, 131, 0.7);
  opacity: 0.6;
  filter: alpha(opacity=50);
}
#highcharts-line { color: #006583; }
#highcharts-gridlines, #highcharts-axis { color: #777777; }
#highcharts-xbands { color: #303030; }
