.DS_Store
log/*.log
tmp/**/*
tmp/*
config/database.yml
vendor/rails/**/*
public/track_data
config/initializers/site_keys.rb
public/system/**/*
config/mailer.yml
public/javascripts/tracker_debug_packaged.js
public/javascript/tracker_packaged.js
vendor/plugins/browscap/lib/browscap.ini
public/email_client_test.html



