.DS_Store
log/*.log
log/*.output
log/*.pid
tmp/**/*
tmp/*
public/system/*.lock
public/system/*.lck
config/database.yml
config/trackster_config.yml
config/newrelic.yml
vendor/rails/**/*
public/track_data
config/initializers/site_keys.rb
public/system/**/*
config/mailer.yml
public/javascripts/tracker_debug_packaged.js
public/javascript/tracker_packaged.js
public/_tks.gif
vendor/plugins/browscap/lib/browscap.ini
vendor/plugins/analytics/data/device_atlas.json
public/email_client_test.html
lib/analytics/wurfl.xml
vendor/cldr/**/*
config/cldr_data/**/*




