/* Colors for emphasis
	Light yellow: #FAF8CC
	Light cyan: #CFECEC
	Light green (for flash) #bfb
	Light red (flash error) #fbb
	Mid blue: rgb(25,135,213); #1987D5
*/	
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.3em;
}

ul {
	margin-bottom: 10px;
}

body {
	padding-bottom 0;
	font-size: 12px;
}

input[type="text"] {
	line-height: 1em;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Primarily because we put code inside pre */
pre {
	overflow: auto;
}

/* Default rendering of select in safari doesn't allow font-size
 * using a border turns off using native widgets and we can style 
 * some more.
 * Thanks to http://particletree.com/notebook/design-friendly-select-elements-in-safari-3/
 */
select {
	height: 22px;
	border: 1px solid #999;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 100%;
}
select.date {
	width: 30%;
}
h4 {
	font-size: 110%;
}

/* Thanks to http://camendesign.com/code/uth6_beautiful_css_dates */
:focus {
	/* Webkit */
	outline: auto 5px -webkit-focus-ring-color; 
	outline-offset: -2px;
	/* Gecko 
	-moz-outline: -moz-mac-focusring solid 2px; 
	-moz-outline-offset: 0; */
}

/* Specific css for things out of the normal template flow */
.container_12 {
	min-width: 860px;
}

/* New account setup, selecting a sitename */
div.sitename {
	display: inline;
	margin-top: -10px;
	margin-left: 2px;
}

div.sitename input[type="text"] {
	display: inline;
}
div.sitename + .prompt, div.sitename div.fieldWithErrors .prompt {
	margin-top: 3px;
}

div.sitename div.fieldWithErrors {
	display: inline;
	position: relative;
	top: 0px;
}
div.box {
	margin-bottom: 10px;
}
div#branding , div#site_info .box {
	background-color:  #CFECEC;
}

div#branding div, div#branding a {
	color: black;
}
div#site_info a, div#site_info p {
	color: black;
}
div#site_info .box {
	margin-bottom: 10px;
}
div#site_info p {
	margin-bottom: 10px;
}

/* branding
----------------------------------------------- */
div#branding {
	padding: 10px 10px 13px;
	height: 1.7em;
}

div#branding h1 {
	position: relative;
	float: left;
	font-weight:normal;
	font-size:1.7em;
	margin: 0;
	width: inherit;
}

div#branding div {
	padding-top: 4px;
	float: right;
}
/* page heading
----------------------------------------------- */
h2#page-heading {
	font-weight:normal;
	font-size: 1.5em;
	padding:.5em;
	margin:0 0 10px 0;
	border-bottom:1px solid #ccc;
}

h1#branding, h2#page-heading {
	padding-left: 11px;
}
.block {
	padding-top: 5px;
}
.block .tab {
	margin-bottom: 0;
}
.panel-links {
	float: right;
	color: white;
	position: relative;
	top: -14px;
	text-transform: none;
}
p {
	line-height: 1.3em;
}
/* Flash */
div.flash_notice, div.flash_error, div.flash_alert {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
	background-color: #bfb;
	border: 1px solid #999;
}

div.flash_notice img, div.flash_error img, div.flash_alert img {
	position: relative;
	top: 0.3em;
}

div.flash_notice p, div.flash_error p, div.flash_alert p {
	margin: 0;
	padding-bottom: 2px;
}

div.flash_error, div.flash_alert {
	background-color: #fbb;
}

/* Error list */
div.errorExplanation {
	margin: 0;
	color: #aaa;
}
div.errorExplanation h2 {
	margin: 0;
	font-size: 100%;
	color: white;
}

/* The field error message from validations */
span.field_message {
	margin-left: 3px;
	color: #f00;
}

/* Field prompts under the input field */
p.prompt {
	margin-top: 0.2em;
	margin-left: 1px;
	margin-bottom: 0;
	font-size: 90%;
	line-height: 1.3em;
}

/* Form sections */
form {
	position: relative;
	
	/* To provide some spacing below the form contents
	to allow for the submit and cancel buttons */
	padding-bottom: 2.2em;
}

.section_left {
	position: relative;
	float: left;
	width: 48%;
	padding-right: 10px;
}

.section_right {
	position: relative;
	float: left;
	width: 48%;
	padding-left: 10px;
}

.section_width_20 {
	width: 19%;
}

.section_width_30 {
	width: 29%;
}

.section_width_40 {
	width: 37%;
}

/* Submit button combo */
form .submit_button {
	position: absolute;
	bottom: 0.4em;
	right: 0px;
}

form .field_message + select {
	margin-top: 0.1em;
}

form img {
	margin-top: 0.5em;
}
textarea {
	margin: 0;
	padding: 2px;
	display: block;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
}

div.field {
	margin-bottom: 0.5em;
}
.datetime {
	width: 15%;
	display: inline;
}

input[type="file"] {
	-moz-appearance: textfield;
	margin: 0;
	padding: 0;
	width: 100%;
}

input[type="hidden"] {
	width: 1px;
	display: inline;
}

input[type="text"] {
	vertical-align: center;
	padding: 2px;
}
select {
	padding: 2px;
}
input[type="checkbox"] {
	display: inline;
	width:	20px;
}
/* Tags */
ul.tags {
	position: relative;
	list-style: none;
	margin: 0;
}

ul.tags li.tag {
	display: inline-block;
    list-style: none;
	margin: 0;
	padding: 0px 5px;
	background-color: #CFECEC;
	border: 1px solid #aaa;
	-webkit-border-radius: 	 5px;  
  	-moz-border-radius:	5px;
}

ul.tags li.tag img {
	position: relative;
	height: 13px;
	width: 13px;
	top: 2px;
}

ul.tags li.tag a {
	font-weight: normal;
}

/* Link for the "show more fields" option */
span.showOptional {
	position: absolute;
	font-weight: normal;
	line-height: 1em;
	right: 8px;
	top: 17px;
	z-index: 10;
	color: #999;
}

span.showOptional input[type="checkbox"] {
	margin: 0 0 0 3px;
}

/* Field spacing on forms */
div.field + div.field {
	margin-top: 0.5em;
}

p {
	margin: 0;
}

.help p, .help li {
	margin-top: 1em;
	margin-bottom: 0;
}

/* Date multi select boxes in line */
div.date select {
	display: inline;
}

/* Help boxes */
div.help dl {
	margin-bottom: 5px;
}

div.help h2 a {
	background-color: #777;
}

/* Signup banner */
h1.signup {
	text-align: center;
	font-size: 4em;
	line-height: 1.5em;
	color: red;
	margin-bottom: 30px;
}

/* For fieldsets */
legend {
	padding: 0.2em 0.8em;
}

/* The add button in fieldsets that represent
AR associated relations */
legend img, img.delete {
	position: relative;
}

legend img {
	top: 0.25em;
	left: 0.4em;
	margin-top: 0;
}

img.delete {
	left: 0.1em;
	top: 0.32em;
}


div.fieldWithErrors input {
	border: 1px dashed red;
}

div.errorExplanation {
	margin-top: 10px;
	margin-bottom: 5px;
}

div.errorExplanation ul {
	margin-bottom: 0;
}

/* Forms inline display */
div.inline div, div.inline label, div.inline input, div.inline select, div.inline .fieldWithErrors,
div.inline textarea {
	display: inline;
}

div.inline .fieldWithErrors {
	top: 0;
}

div.inline input, div.inline textarea, fieldset#address textarea, fieldset#address input {
	margin-right: 5px;
	width: 49%;
}
div.inline input[type="checkbox"] {
	width: 1.5em;
}
div.inline input[type="hidden"] {
	width: 1px;
}
div.inline textarea {
	vertical-align: top;
	float: right;
}

div.inline select, fieldset#address select {
	width: 20%;
}

div.inline label {
	margin-right: 3px;
}

div.inline + div.inline div label, div.address._new label {
	color: #aaa;
}

div.inline label {
	float: left;
	width: 6em;
	position: relative;
	top: 0.65em;
}

/* Menu transparency */
ul.main li ul {
  opacity: 0.9;
}

/* Formatting for addresses */
fieldset#address input, fieldset#address textarea, fieldset#address select {
	margin-bottom: 0.7em;
}

fieldset#address textarea, fieldset#address select, fieldset#address span {
	vertical-align: top;
	float: left;
}

fieldset#address textarea {
	margin-left: 0;
	line-height: 1.2em;
}

fieldset#address div {
	margin-bottom: 0;
}

form input[type="checkbox"] {
	margin-right: 0.4em;
	margin-top: 0.3em;
}

fieldset#address label {
	float: left;
	width: 6em;
	position: relative;
	top: 0.25em;
}

fieldset#address label.street {
	top: 0.1em;
}

fieldset#address select {
	margin: 0 0 0 5px;
}

fieldset#address img.delete {
	top: -0.4em;
	margin-left: 0.25em;
}

div.address._new {
	margin-top: 0.6em;
	padding-top: 1em;
	border-top: 1px dotted #ccc;
}

/* Pagination */
.pagination a, .pagination span.prev_page, .pagination span.next_page, .pagination span.current {
	position: relative;
	top: 0px;
	border: 1px solid #888;
	display: inline-block;
	padding: 1px;
	margin: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: center;
	line-height: 20px;
}

.pagination a.next_page, .pagination span.next_page,
.pagination a.prev_page, .pagination span.prev_page {
	width: 80px;
}

.pagination span.prev_page {
	margin-left: 0;
}

/* Search */
form.search  {
	/* margin-top: -8px; */
	margin-bottom: 6px;
	margin-top: 6px;
	padding: 6px 8px;
	background-color: #ccc;
	-webkit-border-radius: 	 5px;  
  	-moz-border-radius:	5px;	
}

form.search input[type="text"], form.search input[type="search"] {
	display: inline-block;
	width: 70%;	
}

form.search label {
	display: inline-block;
	width: default;
	font-weight: bold;
	margin-right: 5px;
	font-size: 110%;
}

/* tree view; list view */
ul.tree, ul.list {
	width: 100%;
	margin: 0 auto;
}

ul.tree ul.trees, ul.tree li.treeMember, ul.tree li.root, ul.list li.listMember {
	position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tree li.root {
	padding: 0;
}

/* Actual data visual formatting */
div.treeItem, div.listItem {
	border: 1px solid #aaa;
	background-color: #fff;
	padding: 5px;
	-webkit-border-radius: 5px;  
  	-moz-border-radius:	5px;
	margin: 0 0 5px 0;
}

div.treeItem:hover {
	cursor: move;
}

div.treeItem div.buttons, div.listItem div.buttons {
	position: absolute;
	top: 6px;
	right: 3px;
}

div.treeItem.hover, div.listItem.hover {
	background-color: #FAF8CC;  /* light yellow */
}

div.treeItem p, div.listItem p {
	line-height: 1.2em;
	margin-bottom: 0.5em;
	margin-top: 0;
}
div.treeItem img, div.listItem img {
	width: 16px;
	height: 16px;
}
div.treeItem img:hover, div.listItem img:hover {
	cursor: pointer;
}
div.listItem img.webshot {
	position: relative;
	float:right;
	height: inherit;
	width: inherit;
	margin-left: 5px;
}
div.listItem .left {
	float: left;
	padding-right: 5px;
}
div.listItem h4 {
	margin-bottom: 0.3em;
}

/* User pick list */
div.user {
	border: 1px solid #aaa;
	background-color: #eee;
	padding: 5px;
	-webkit-border-radius: 	 5px;  
  	-moz-border-radius:	5px;
	margin: 0 0 5px 0;
}

div.user:hover {
	cursor: move;
}

div.user p {
	margin-bottom: 0;
}

div.user h4 {
	margin-bottom: 0;
}

div.user img {
	float: left;
	margin-right: 5px;
}

/* Accordion panels */
.accordion {
	margin-bottom: 0.5em;
	margin-left: -5px;
	margin-right: -5px;
}

img.accordion_item_image {
	position: relative;
	top: 1px;
	width: 13px;
}

.accordion h3.trig {
	font-size: 110%;
	margin-bottom: 		0.1em;
	background:			#eee;
	padding:			5px;
	-webkit-box-shadow: 3px 3px 3px #999;
	-moz-box-shadow: 	3px 3px 3px #999;
}

.accordion h3:hover {
	cursor: pointer;
}

.accordion .targ {
	margin-bottom: 0.5em;
}

.accordion .targ p {
	margin-top:	0.5em;
	margin-left: 1.5em;
}

.accordion .targ p a {
	color: #555;
}

/* Table panels */
div.box.table, div.box.table .block {
	padding: 0;
}

div.box.table h2 {
	margin: 0;
}

table th:hover {
	cursor: pointer;
}

/* This to format a "nothing here" message in blocks
but having two types doesn't help 
div.main div.box .block h3, div.main div.box.table h3 {
	font-size: 100%;
	padding: 6px;
	margin: -10px -10px 0px -4px;
}
*/

.block h3 {
	font-size: 110%;
}

.box h3 {
	padding: 5px 0px 7px 0px;
}
.box.table h3 {
	padding: 10px 10px 13px 10px;
}

/* Table layouts for generated content in to_table */
div.block table {
	table-layout: fixed;
	margin: 0 0 5px 0;
}

div.block table * td {
	empty-cells: show;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

div.block table tfoot th {
	padding: 0.2em 1.0em 0 1.0em;
}

div.block table thead th {
	padding-top: 0.2em;
}
col.page_views, col.event_count {
	width: 5em; /* 10%; */
}
col.count, col.traffic_source, col.visits, col.exit_rate,
col.new_visit_rate, col.duration, col.deliveries, col.impressions,
col.page_views_per_visit, col.impressions, col.distribution, col.clicks_through, col.unsubscribes,
col.bounces,  col.cost, col.cost_per_impression,  col.cost_per_click, col.category, col.action,
col.events {
	width: 6em; /* 13%; */
}
col.bounce_rate, col.value {
	width: 7.5em;
}
col.entry_rate {
	width: 6.5em;
}
col.percent_of_page_views, col.percent_of_visits, col.open_rate, col.click_through_rate,{
	width: 40%;
}
div.sixcol col.percent_of_impressions {
	width: 50%;
}

.right {
	text-align: right;
}

/* Horizontal Bar Graph */
div.hbar {
	float: left;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 0.5em;
	height: 13px;
	background-color: rgb(25,135,213);
}

/* Bio specific formatting */
#bio {
	padding-bottom: 10px;
}
#bio h2 {
	margin-top: 0;
}

#bio table {
	margin-top: 0.5em;
}

.login {
	margin-top: 1em;
}

/* List images */
div.listItem img.list_image {
	height: 50px;
	width: inherit;
}

/* Float helpers */
.float_left {
	float: left;
	margin-bottom: -5px;
	margin-right: 5px;
}

.float_right {
	float: right;	
}

.clear {
	clear: both;
}

/* User States */
.passive {
	color: red;
}

.passive:before {
	content: "(";
}

.passive:after {
	content: ")";
}


