  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent}
body {line-height: 1}
ol, ul {list-style: none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none}
 :focus {outline: 0}
 ins {text-decoration: none}
del {text-decoration: line-through}
 table {border-collapse: collapse; border-spacing: 0}
  body {font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif}
a:focus {outline: 1px dotted invert}
hr {border-color: #ccc; border-style: solid; border-width: 1px 0 0; clear: both; height: 0}
 h1 {font-size: 25px}
h2 {font-size: 23px}
h3 {font-size: 21px}
h4 {font-size: 19px}
h5 {font-size: 17px}
h6 {font-size: 15px}
 ol {list-style: decimal}
ul {list-style: square}
li {margin-left: 30px}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {margin-bottom: 20px}
  .container_12, .container_16 {width: 92%; margin-left: 4%; margin-right: 4%}
 .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {display: inline; float: left; margin-left: 1%; margin-right: 1%}
.container_12 .grid_3, .container_16 .grid_4 {width: 23%}
.container_12 .grid_6, .container_16 .grid_8 {width: 48%}
.container_12 .grid_9, .container_16 .grid_12 {width: 73%}
.container_12 .grid_12, .container_16 .grid_16 {width: 98%}
 .alpha {margin-left: 0}
.omega {margin-right: 0}
 .container_12 .grid_1 {width: 6.333%}
.container_12 .grid_2 {width: 14.666%}
.container_12 .grid_4 {width: 31.333%}
.container_12 .grid_5 {width: 39.666%}
.container_12 .grid_7 {width: 56.333%}
.container_12 .grid_8 {width: 64.666%}
.container_12 .grid_10 {width: 81.333%}
.container_12 .grid_11 {width: 89.666%}
 .container_16 .grid_1 {width: 4.25%}
.container_16 .grid_2 {width: 10.5%}
.container_16 .grid_3 {width: 16.75%}
.container_16 .grid_5 {width: 29.25%}
.container_16 .grid_6 {width: 35.5%}
.container_16 .grid_7 {width: 41.75%}
.container_16 .grid_9 {width: 54.25%}
.container_16 .grid_10 {width: 60.5%}
.container_16 .grid_11 {width: 66.75%}
.container_16 .grid_13 {width: 79.25%}
.container_16 .grid_14 {width: 85.5%}
.container_16 .grid_15 {width: 91.75%}
 .container_12 .prefix_3, .container_16 .prefix_4 {padding-left: 25%}
.container_12 .prefix_6, .container_16 .prefix_8 {padding-left: 50%}
.container_12 .prefix_9, .container_16 .prefix_12 {padding-left: 75%}
 .container_12 .prefix_1 {padding-left: 8.333%}
.container_12 .prefix_2 {padding-left: 16.666%}
.container_12 .prefix_4 {padding-left: 33.333%}
.container_12 .prefix_5 {padding-left: 41.666%}
.container_12 .prefix_7 {padding-left: 58.333%}
.container_12 .prefix_8 {padding-left: 66.666%}
.container_12 .prefix_10 {padding-left: 83.333%}
.container_12 .prefix_11 {padding-left: 91.666%}
 .container_16 .prefix_1 {padding-left: 6.25%}
.container_16 .prefix_2 {padding-left: 12.5%}
.container_16 .prefix_3 {padding-left: 18.75%}
.container_16 .prefix_5 {padding-left: 31.25%}
.container_16 .prefix_6 {padding-left: 37.5%}
.container_16 .prefix_7 {padding-left: 43.75%}
.container_16 .prefix_9 {padding-left: 56.25%}
.container_16 .prefix_10 {padding-left: 62.5%}
.container_16 .prefix_11 {padding-left: 68.75%}
.container_16 .prefix_13 {padding-left: 81.25%}
.container_16 .prefix_14 {padding-left: 87.5%}
.container_16 .prefix_15 {padding-left: 93.75%}
 .container_12 .suffix_3, .container_16 .suffix_4 {padding-right: 25%}
.container_12 .suffix_6, .container_16 .suffix_8 {padding-right: 50%}
.container_12 .suffix_9, .container_16 .suffix_12 {padding-right: 75%}
 .container_12 .suffix_1 {padding-right: 8.333%}
.container_12 .suffix_2 {padding-right: 16.666%}
.container_12 .suffix_4 {padding-right: 33.333%}
.container_12 .suffix_5 {padding-right: 41.666%}
.container_12 .suffix_7 {padding-right: 58.333%}
.container_12 .suffix_8 {padding-right: 66.666%}
.container_12 .suffix_10 {padding-right: 83.333%}
.container_12 .suffix_11 {padding-right: 91.666%}
 .container_16 .suffix_1 {padding-right: 6.25%}
.container_16 .suffix_2 {padding-right: 16.5%}
.container_16 .suffix_3 {padding-right: 18.75%}
.container_16 .suffix_5 {padding-right: 31.25%}
.container_16 .suffix_6 {padding-right: 37.5%}
.container_16 .suffix_7 {padding-right: 43.75%}
.container_16 .suffix_9 {padding-right: 56.25%}
.container_16 .suffix_10 {padding-right: 62.5%}
.container_16 .suffix_11 {padding-right: 68.75%}
.container_16 .suffix_13 {padding-right: 81.25%}
.container_16 .suffix_14 {padding-right: 87.5%}
.container_16 .suffix_15 {padding-right: 93.75%}
  html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {background: none; border: 0; clear: both; display: block; float: none; font-size: 0; list-style: none; margin: 0; padding: 0; overflow: hidden; visibility: hidden; width: 0; height: 0}
 .clearfix:after {clear: both; content: '.'; display: block; visibility: hidden; height: 0}
.clearfix {display: inline-block}
* html .clearfix {height: 1%}
.clearfix {display: block}
  textarea, input {font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif}
 .container_12 .grid_9 .grid_6 {width: 49%; margin-left: 0; margin-right: 0}
.grid_6 + .grid_6 {float: right}
 body {background: #eee; border-top: 5px solid #000; color: #333; font-size: 11px; padding: 0 0 40px}
 a {color: #000; font-weight:bold; text-decoration: none}
a:hover {color:#333}
 .container_12 {background:#fff  }
.container_16 {background:#fff  }
 h1, h2, h3, h4, h5, h6 {line-height:1.2em; margin-bottom:.3em;}
h2 {margin-top:1em;}
h5 {font-size:1.2em;}
h6 {font-size:1em; text-transform:uppercase;}
h1 a {font-weight:normal}
 h1#branding {font-weight:normal; font-size:3em; text-align:left; background:#aaa; padding:.7em 1em; margin-bottom:0}
 h2#page-heading {font-weight:normal; padding:.5em; margin:0 0 10px 0; border-bottom:1px solid #ccc}
 .box {background:#ddd; margin-bottom:20px; padding:10px 10px 1px 10px}
.box h2 {font-size:1em; font-weight:normal; text-transform:uppercase; color:#fff; background:#333; margin:-10px -10px 0 -10px; padding:6px 12px}
.box h2 a, .box h2 a.visible {color:#fff;  display:block; padding:6px 12px; margin:-6px -12px; border:none}
.grid_4 .box h2 a {background-position: 97% 50%}
.grid_5 .box h2 a {background-position: 98% 50%}
.grid_12 .box h2 a {background-position: 99% 50%}
.box h2 a.hidden, .box h2 a.hidden:hover {background-image: url("../img/switch_plus.gif")}
.box h2 a:hover {background-color:#111}
.block {padding-top:10px}
div.menu {padding:0}
div.menu h2 {margin:0}
div.menu .block {padding-top:0}
 p {margin-bottom:1em}
blockquote {font-family: Georgia, 'Times New Roman', serif; font-size:1.2em; padding-left:1em; border-left:4px solid #ccc}
blockquote cite {font-size:.9em}
ul, ol {padding-top:0}
 ul.menu {list-style:none; border-top:1px solid #bbb}
ul.menu li {margin:0}
ul.menu li a {display:block; padding:4px 10px; border-bottom:1px solid #ccc}
ul.menu li a:hover {background:#eee}
ul.menu li a:active {background:#ccc}
 ul.menu ul {list-style:none; margin:0}
ul.menu ul li a {padding-left:30px}
 ul.section {border-top:0; margin-bottom:0}
ul.section li {text-transform:uppercase}
ul.section li a {background:#bbb}
ul.section li a:hover {background:#aaa}
ul.section li a:active {color:#fff; background:#666}
ul.section li li a {background:#ddd; border-bottom:1px solid #eee}
ul.section li li a:hover {background:#ccc}
ul.section li li a:active {color:#000; background:#fff}
ul.section ul li {text-transform:none}
ul.section ul.current li a {background:#eee; border-bottom:1px solid #fff}
ul.section ul.current li a:hover {background:#ddd}
ul.section ul.current li a:active {background:#fff}
ul.section li a.current {color:#fff; background:#666}
ul.section li a.current:hover {background:#555}
ul.section li a.current:active {background:#444}
ul.section li a.active {background:#fff; cursor:default}
ul.section li.current > a.active, ul.section li.current > a.active:hover {color:#fff; background:#666; cursor:default}
 table {width:100%; border:1px solid #bbb; margin-bottom:10px}
col.colC {width:8em}
th, td {padding:.2em 1em; text-align:left}
thead th {border-bottom:2px solid #888; background:#bbb; padding:.4em 1em .2em}
thead th.table-head {font-size:1em; font-weight:normal; text-transform:uppercase; color:#fff; background:#555; border:1px solid #555}
tbody th, tbody td {border-top:1px solid #bbb; border-bottom:1px solid #bbb; background:#eee}
tbody tr.odd th, tbody tr.odd td {background:#fff}
tfoot th, tfoot td {border-top:2px solid #666; background:#eee}
tfoot tr.total th, tfoot tr.total td {border-top:6px double #666}
tfoot tr.total th {text-transform:uppercase}
th.currency, td.currency {text-align:right}
 form {overflow:hidden}
fieldset {border:1px solid #bbb; padding:10px; position:relative; background:#e9e9e9; margin-bottom:10px}
legend {font-size:1.1em; padding:.4em .8em; background:#fff; border:1px solid #bbb}
fieldset.login p {margin-bottom:1em; margin-top:0pt}
fieldset p label {width:98%}
fieldset p input {width:98%}
fieldset p select {width:99%}
fieldset.login p label {float:left; line-height:2em; margin-right:3%; text-align:right; width:32%}
fieldset.login p input {width:60%}
fieldset.login input.button {margin-left:35%}
form p.notice {font-weight:bold}
input.search.text {width:66%}
input.search.button {width:28%; margin-left:2%}
 .articles {padding:0}
.articles h2 {margin:0}
#articles {padding-top:0}
.article {border-top:1px solid #666; padding-top:.5em}
.box .article {border-top:3px solid #fff; padding:13px 10px 0 10px}
.article h2 {font-size:2em; font-weight:normal; text-transform:none; color:#333; background:transparent; padding:0; margin:0; border:none}
.article h3 {margin-bottom:.2em; font-size:1.6em}
.box .first {border-top:none}
.article h4 {font-size:1.2em; text-transform:uppercase; margin-bottom:.5em}
.article a.image {float:left; margin:3px 10px 3px 0; padding:4px; border:1px solid #bbb; background:#fff}
.article a.image:hover {border:1px solid #666}
.article a.image img {float:left}
.article p.meta {color:#666; border-top:1px dotted #999; border-bottom:1px dotted #999; padding:.3em 0; margin-bottom:.8em}
 #site_info .box {color:#fff; background:#666; margin-bottom:10px}
 #loading {float:right; margin-right:16px;}
.block {padding-bottom:1px;}
 .toggler {color: #222; margin: 0; padding: 2px 5px; background: #eee; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; border-top: 1px solid #f5f5f5; border-left: 1px solid #f5f5f5; font-size:1.1em; font-weight: bold}
dd h4 {margin: 0; padding:4px; line-height:1.2em}
dd p {margin: 0; padding: 4px}
.float-right {padding:10px 20px; float:right}
#accordian-block {padding-bottom:10px}
#accordian-block dd {width: 33em}
#kwick-box {padding:0; overflow:hidden}
#kwick-box h2 {margin:0}
#kwick {position: relative}
#kwick .kwicks {display: block; background: #999; height: 120px; list-style:none; margin:0; overflow:hidden}
 .kwicks li{ float: left; width: 25%; height: 100px; margin: 0; margin-bottom: 3px; padding: 5px}
#kwick .kwick span {color:#fff}
#kwick1 {background: #666}
#kwick2 {background: #777}
#kwick3 {background: #888}
#kwick4 {background: #999}
  ul.nav, ul.nav * {margin:0;padding:0;}
ul.nav {position:relative; background:#666; max-width:100%; height:2.5em}
ul.nav li {cursor:pointer; float:left; text-align:center; list-style-type:none; font-weight:normal}
ul.nav li ul {cursor:default; width:100%; max-width:100%; position:absolute; height:auto; top:2.5em; background-position:0 0 !important; left:-9000px}
ul.nav li ul li {padding:0; border:none; width:auto; max-width:none}
ul.nav li a {color:#fff; background:#666; font-weight:bold; text-decoration:none; display:block; float:left; padding:0 1em; height:2.4em; line-height:2.5em}
ul.nav li ul li a {position:relative !important;  cursor:pointer !important; white-space:nowrap; line-height:2em; height:2em; font-weight:normal; color:#666; background-position:0 50% !important}
ul.nav li:hover a, ul.nav li a:hover, ul.nav li a:focus {color:#000; background:#ccc;}
ul.nav li a:active {color:#666; background:#fff;}
ul.nav li:hover ul {left:0;z-index:10}
ul.nav li ul, ul.nav li {background:#ccc !important}
ul.nav li:hover ul li a {color:#444;}
ul.nav li:hover ul li a:hover {color:#000; background:#fff;}
ul.nav li:hover ul li a:active {color:#666; background:#fff;}
ul.nav li.current a {color:#666; background:#fff; cursor:default; font-weight:bold;}
ul.nav li.current ul {left:0;z-index:5}
ul.nav li.current ul, ul.nav li.current {background:#ccc !important}
ul.nav li.current ul li a {color:#444; background:#ccc; font-weight:normal;}
ul.nav li.current ul li a:hover {color:#000; background:#fff;}
ul.nav li ul li.current a, ul.nav li ul li.current a:hover, ul.nav li.current:hover ul li a:active {color:#666; background:#fff;}
 ul.nav {background:#666}
ul.main li {position:relative; top:0; left:0}
ul.main li ul {border-top:0}
ul.main li ul li {float:left}
ul.main li a {height:2.5em; line-height:2.5em; border:0; color:#fff; background:#666}
ul.main li ul li a {width:12em; line-height:2em; height:2em; text-align:left; color:#fff; border-top:1px solid #444; background:#444}
ul.main li a:focus {color:#fff; background:#666;}
ul.main li ul li a:hover {color:#fff; background:#555}
ul.main li:hover a {color:#fff; background:#555}
ul.main li:hover ul li a {color:#fff;}
ul.main li:hover ul li a:hover {color:#fff; background:#444;}
ul.main li:hover a:active {background:#444;}
ul.main li:hover ul li a:active {color:#fff; background:#222;}
 ul.nav li.secondary {float:right; color:#cde; background:transparent !important}
ul.nav li.secondary span.status {float:left; padding:0 1em; line-height:2.77em; height:2.77em; font-size:0.9em}
ul.nav li.secondary span.status a {float:none; display:inline; padding:0; height:auto; line-height:auto; color:#cde; background:transparent}
ul.nav li.secondary span.status a:hover {color:#fff; background:transparent}
ul.nav li.secondary span.status span {text-transform:capitalize}
ul.nav li.secondary:hover a {color:#fff; background:#666}
ul.nav li.secondary:hover a:hover {background:#555}
ul.nav li.secondary:hover a:active {background:#444;}
 label {font-weight: bold}
input[type='text'], input[type='password'], textarea {width: 98%}
.ac_results {padding: 0px; border: 1px solid black; background-color: white; overflow: hidden; z-index: 99999}
.ac_results ul {width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0}
.ac_results li {margin: 0px; padding: 2px 5px; cursor: default; display: block;   font: menu; font-size: 12px;  line-height: 16px; overflow: hidden}
.ac_loading {background: white url('indicator.gif') right center no-repeat}
.ac_odd {background-color: #eee}
.ac_over {background-color: #0A246A; color: white}
 h1, h2, h3, h4, h5, h6 {margin-bottom: 0.3em}
ul {margin-bottom: 10px}
body {padding-bottom 0; font-size: 12px}
input[type="text"] {line-height: 1em; padding-top: 3px; padding-bottom: 3px}
 pre {overflow: auto}
 select {height: 22px; border: 1px solid #999; padding-top: 3px; padding-bottom: 3px; font-size: 100%}
select.date {width: 30%}
h4 {font-size: 110%}
 :focus { outline: auto 5px -webkit-focus-ring-color; outline-offset: -2px;  }
 .container_12 {min-width: 860px}
 div.sitename {display: inline; margin-top: -10px; margin-left: 2px}
div.sitename input[type="text"] {display: inline}
div.sitename + .prompt, div.sitename div.fieldWithErrors .prompt {margin-top: 3px}
div.sitename div.fieldWithErrors {display: inline; position: relative; top: 0px}
div.box {margin-bottom: 10px}
div#branding , div#site_info .box {background-color: #CFECEC}
div#branding div, div#branding a {color: black}
div#site_info a, div#site_info p {color: black}
div#site_info .box {margin-bottom: 10px}
div#site_info p {margin-bottom: 10px}
 div#branding {padding: 10px 10px 13px; height: 1.7em}
div#branding h1 {position: relative; float: left; font-weight:normal; font-size:1.7em; margin: 0; width: inherit}
div#branding div {padding-top: 4px; float: right}
 h2#page-heading {font-weight:normal; font-size: 1.5em; padding:.5em; margin:0 0 10px 0; border-bottom:1px solid #ccc}
h1#branding, h2#page-heading {padding-left: 11px}
.block {padding-top: 5px}
.block .tab {margin-bottom: 0}
.panel-links {float: right; color: white; position: relative; top: -14px; text-transform: none}
p {line-height: 1.3em}
 div.flash_notice, div.flash_error, div.flash_alert {padding: 5px; margin-top: 5px; margin-bottom: 0px; background-color: #bfb; border: 1px solid #999}
div.flash_notice img, div.flash_error img, div.flash_alert img {position: relative; top: 0.3em}
div.flash_notice p, div.flash_error p, div.flash_alert p {margin: 0; padding-bottom: 2px}
div.flash_error, div.flash_alert {background-color: #fbb}
 div.errorExplanation {margin: 0; color: #aaa}
div.errorExplanation h2 {margin: 0; font-size: 100%; color: white}
 span.field_message {margin-left: 3px; color: #f00}
 p.prompt {margin-top: 0.2em; margin-left: 1px; margin-bottom: 0; font-size: 90%; line-height: 1.3em}
 form {position: relative;  padding-bottom: 2.2em}
.section_left {position: relative; float: left; width: 48%; padding-right: 10px}
.section_right {position: relative; float: left; width: 48%; padding-left: 10px}
.section_width_20 {width: 19%}
.section_width_30 {width: 29%}
.section_width_40 {width: 37%}
 form .submit_button {position: absolute; bottom: 0.4em; right: 0px}
form .field_message + select {margin-top: 0.1em}
form img {margin-top: 0.5em}
textarea {margin: 0; padding: 2px; display: block; -webkit-appearance: textfield; -moz-appearance: textfield}
div.field {margin-bottom: 0.5em}
.datetime {width: 15%; display: inline}
input[type="file"] {-moz-appearance: textfield; margin: 0; padding: 0; width: 100%}
input[type="hidden"] {width: 1px; display: inline}
input[type="text"] {vertical-align: center; padding: 2px}
select {padding: 2px}
input[type="checkbox"] {display: inline; width: 20px}
 ul.tags {position: relative; list-style: none; margin: 0}
ul.tags li.tag {display: inline-block; list-style: none; margin: 0; padding: 0px 5px; background-color: #CFECEC; border: 1px solid #aaa; -webkit-border-radius: 5px; -moz-border-radius: 5px}
ul.tags li.tag img {position: relative; height: 13px; width: 13px; top: 2px}
ul.tags li.tag a {font-weight: normal}
 span.showOptional {position: absolute; font-weight: normal; line-height: 1em; right: 8px; top: 17px; z-index: 10; color: #999}
span.showOptional input[type="checkbox"] {margin: 0 0 0 3px}
 div.field + div.field {margin-top: 0.5em}
p {margin: 0}
.help p, .help li {margin-top: 1em; margin-bottom: 0}
 div.date select {display: inline}
 div.help dl {margin-bottom: 5px}
div.help h2 a {background-color: #777}
 h1.signup {text-align: center; font-size: 4em; line-height: 1.5em; color: red; margin-bottom: 30px}
 legend {padding: 0.2em 0.8em}
 legend img, img.delete {position: relative}
legend img {top: 0.25em; left: 0.4em; margin-top: 0}
img.delete {left: 0.1em; top: 0.32em}
div.fieldWithErrors input {border: 1px dashed red}
div.errorExplanation {margin-top: 10px; margin-bottom: 5px}
div.errorExplanation ul {margin-bottom: 0}
 div.inline div, div.inline label, div.inline input, div.inline select, div.inline .fieldWithErrors, div.inline textarea {display: inline}
div.inline .fieldWithErrors {top: 0}
div.inline input, div.inline textarea, fieldset#address textarea, fieldset#address input {margin-right: 5px; width: 49%}
div.inline input[type="checkbox"] {width: 1.5em}
div.inline input[type="hidden"] {width: 1px}
div.inline textarea {vertical-align: top; float: right}
div.inline select, fieldset#address select {width: 20%}
div.inline label {margin-right: 3px}
div.inline + div.inline div label, div.address._new label {color: #aaa}
div.inline label {float: left; width: 6em; position: relative; top: 0.65em}
 ul.main li ul {opacity: 0.9}
 fieldset#address input, fieldset#address textarea, fieldset#address select {margin-bottom: 0.7em}
fieldset#address textarea, fieldset#address select, fieldset#address span {vertical-align: top; float: left}
fieldset#address textarea {margin-left: 0; line-height: 1.2em}
fieldset#address div {margin-bottom: 0}
form input[type="checkbox"] {margin-right: 0.4em; margin-top: 0.3em}
fieldset#address label {float: left; width: 6em; position: relative; top: 0.25em}
fieldset#address label.street {top: 0.1em}
fieldset#address select {margin: 0 0 0 5px}
fieldset#address img.delete {top: -0.4em; margin-left: 0.25em}
div.address._new {margin-top: 0.6em; padding-top: 1em; border-top: 1px dotted #ccc}
 .pagination a, .pagination span.prev_page, .pagination span.next_page, .pagination span.current {position: relative; top: 0px; border: 1px solid #888; display: inline-block; padding: 1px; margin: 1px; margin-top: 3px; margin-bottom: 3px; width: 20px; height: 20px; text-align: center; vertical-align: center; line-height: 20px}
.pagination a.next_page, .pagination span.next_page, .pagination a.prev_page, .pagination span.prev_page {width: 80px}
.pagination span.prev_page {margin-left: 0}
 form.search { margin-bottom: 6px; margin-top: 6px; padding: 6px 8px; background-color: #ccc; -webkit-border-radius: 5px; -moz-border-radius: 5px}
form.search input[type="text"], form.search input[type="search"] {display: inline-block; width: 70%}
form.search label {display: inline-block; width: default; font-weight: bold; margin-right: 5px; font-size: 110%}
 ul.tree, ul.list {width: 100%; margin: 0 auto}
ul.tree ul.trees, ul.tree li.treeMember, ul.tree li.root, ul.list li.listMember {position: relative; list-style: none; margin: 0; padding: 0}
ul.tree li.root {padding: 0}
 div.treeItem, div.listItem {border: 1px solid #aaa; background-color: #fff; padding: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; margin: 0 0 5px 0}
div.treeItem:hover {cursor: move}
div.treeItem div.buttons, div.listItem div.buttons {position: absolute; top: 6px; right: 3px}
div.treeItem.hover, div.listItem.hover {background-color: #FAF8CC;  }
div.treeItem p, div.listItem p {line-height: 1.2em; margin-bottom: 0.5em; margin-top: 0}
div.treeItem img, div.listItem img {width: 16px; height: 16px}
div.treeItem img:hover, div.listItem img:hover {cursor: pointer}
div.listItem img.webshot {position: relative; float:right; height: inherit; width: inherit; margin-left: 5px}
div.listItem .left {float: left; padding-right: 5px}
div.listItem h4 {margin-bottom: 0.3em}
 div.user {border: 1px solid #aaa; background-color: #eee; padding: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; margin: 0 0 5px 0}
div.user:hover {cursor: move}
div.user p {margin-bottom: 0}
div.user h4 {margin-bottom: 0}
div.user img {float: left; margin-right: 5px}
 .accordion {margin-bottom: 0.5em; margin-left: -5px; margin-right: -5px}
img.accordion_item_image {position: relative; top: 1px; width: 13px}
.accordion h3.trig {font-size: 110%; margin-bottom: 0.1em; background: #eee; padding: 5px; -webkit-box-shadow: 3px 3px 3px #999; -moz-box-shadow: 3px 3px 3px #999}
.accordion h3:hover {cursor: pointer}
.accordion .targ {margin-bottom: 0.5em}
.accordion .targ p {margin-top: 0.5em; margin-left: 1.5em}
.accordion .targ p a {color: #555}
 div.box.table, div.box.table .block {padding: 0}
div.box.table h2 {margin: 0}
table th:hover {cursor: pointer}
 .block h3 {font-size: 110%}
.box h3 {padding: 5px 0px 7px 0px}
.box.table h3 {padding: 10px 10px 13px 10px}
 div.block table {table-layout: fixed; margin: 0 0 5px 0}
div.block table * td {empty-cells: show; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis}
div.block table tfoot th {padding: 0.2em 1.0em 0 1.0em}
div.block table thead th {padding-top: 0.2em}
col.page_views, col.event_count {width: 5em;  }
col.count, col.traffic_source, col.visits, col.exit_rate, col.new_visit_rate, col.duration, col.deliveries, col.impressions, col.page_views_per_visit, col.impressions, col.distribution, col.clicks_through, col.unsubscribes, col.bounces, col.cost, col.cost_per_impression, col.cost_per_click, col.category, col.action, col.events {width: 6em;  }
col.bounce_rate {width: 7.5em}
col.entry_rate {width: 6.5em}
col.percent_of_page_views, col.percent_of_visits, col.open_rate, col.click_through_rate,{ width: 40%}
div.sixcol col.percent_of_impressions {width: 50%}
.right {text-align: right}
 div.hbar {float: left; margin-top: 3px; margin-bottom: 3px; margin-right: 0.5em; height: 13px; background-color: rgb(25,135,213)}
 #bio {padding-bottom: 10px}
#bio h2 {margin-top: 0}
#bio table {margin-top: 0.5em}
.login {margin-top: 1em}
 div.listItem img.list_image {height: 50px; width: inherit}
 .float_left {float: left; margin-bottom: -5px; margin-right: 5px}
.float_right {float: right}
.clear {clear: both}
 .passive {color: red}
.passive:before {content: "("}
.passive:after {content: ")"}
 #contactCards {width: 100%; padding-bottom: 5px}
div.contactCard {display: inline; position: relative; float: left; width: 200px; height: 130px; background-color: white; margin-bottom: 10px; margin-right: 10px; padding: 5px; -webkit-box-shadow: 5px 5px 3px #888; -moz-box-shadow: 5px 5px 3px #888; overflow: hidden; cursor: move}
div.contactCard.canDrop {background-color: #CFECEC}
div.contactCard.ui-draggable-dragging {border: 1px dashed #333; cursor: move}
div.contactCard p {font-size: 11px}
div.contactCard img.avatar {float: right}
div.contactCard img.icon {position: relative; width: 11px; top: 0.2em}
div.contactCard img.merge {position: absolute; bottom: 0; right: 0}
div.contactCard img.merge:hover {border: 1px solid #888}
div#about .contactCard img.merge {display: none}
div.contactCard p, .contactCard h3, .contactCard h4 {white-space: nowrap; overflow: hidden; overflow: ellipsis; max-width: 95%}
div.contactCard h3, div.contactCard h4 {font-size: 100%; font-weight: bold; margin-bottom: 0; padding-bottom: 0; padding-top: 0}
div.contactCard h4 {font-weight: normal; font-size: 11px}
div.contactCard h3 + p, div.contactCard h4 + p {margin-top: 0.1em}
div.contactCard p {margin-bottom: 0; line-height: 1.2em}
div.contactCard p.email a, div.contactCard p.website a {font-weight: normal}
div#about .contactCard {width: 100%; float: none; display: block; margin: 0; padding: 0; -webkit-box-shadow: none; -moz-box-shadow: none; cursor: inherit; margin-bottom: 2px; background: inherit}
 .inline .field_message {padding-left: 6em; display: none}
 .section_left .title, .section_right .title {padding:.2em 1em; text-align:left; border-bottom:2px solid #888; background:#bbb; padding:.4em 1em .2em; font-size:1em; font-weight:normal; text-transform:uppercase; color:#fff; background:#555; border:1px solid #555}