/* For iPad */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	body {
		font-size: 75%;
		min-height: 1024px;
	}
	
	#wrapper {
		margin: 0;
		width: 100%;
	}
}

/* and also for smaller browser windows */
@media screen and (max-device-width: 950px) {
	body {
		font-size: 75%;
	}
	
	#wrapper {
		margin: 0;
		width: 100%;
	}
}
