<div class="box clearfix">
<!--  <p style="float:left">Copyright &copy; <a id="test" href="http://www.noexpectations.com.au">Kip Cole</a>, all rights reserved</p>
-->
  <p style="float:left"><%= t('current_timezone', :timezone => Time.zone.to_s) %></p>
  <p style="float:right"> <a href='#'>Terms of Service</a> | <a href='#'>Privacy</a> | <a href='#'>Contact</a></p>
</div>