<div class="box clearfix">
  <p style="float:left">Provided by <a id="test" href="http://www.xroads.com.au">Crossroads Multimedia</a>, all rights reserved</p>
  <p style="float:right"> <a href='#'>Terms of Service</a> | <a href='#'>Privacy</a> | <a href='#'>Contact</a></p>
</div>